@import '../../../shared/variables';

.inner-container {
  display: flex;
  align-items: center;
}
:host {
  display: flex;
  padding: 0 150px;
  background-color: $backgroundColor;
  justify-content: space-around;
  align-items: center;
}
.waste {
  width: 110px;
}
