.example-form {
  min-width: 250px;
  max-width: 500px;
  height: 100%;
}

.example-full-width {
  height: 100%;
  background: #EFEFEF;
  margin-left: 10px;
  min-width: 350px;
  max-width: 500px;
}
.search{
  background: #2F80ED;
  border-radius: 0px 4px 4px 0px;
  height: 32px;
  line-height: 0;
}
.wrap{
  display: flex;
  align-items: center;
}

