.example-form {
  min-width: 250px;
  max-width: 500px;
  height: 100%;
}

.example-full-width {
  height: 100%;
  background: #EFEFEF;
  margin-left: 10px;
  min-width: 350px;
  max-width: 500px;
}

.wrap {
  display: flex;
  align-items: center;
}

