@import '../../../shared/variables';

.example-card{
  display: flex;
  width: 85%;
  margin: 20px auto;
  padding: 0;
  background-color: $backgroundColor;
}

.information{
  margin: 20px 35px;
}
.title_container{
  display: flex;
  justify-content: space-between;
}
img{
  object-fit: contain;
}
.mat-card-content{
  font-size: 12px;
}

