<mat-card *ngIf="hasData" class="example-card">
  <img src="{{video?.snippet?.thumbnails?.high?.url}}">
  <div class="information">
    <div class="title_container">
      <mat-card-title>{{video?.snippet?.localized?.title}}</mat-card-title>
      <span class="date">{{video?.snippet?.publishedAt | date : 'fullDate'}}</span>
    </div>
    <mat-card-subtitle>Description:</mat-card-subtitle>
    <mat-card-content>{{video?.snippet?.localized?.description}}</mat-card-content>
  <app-statictics-count [statictics]="video?.statistics"></app-statictics-count>
  </div>
  <div class="back-button" (click)="goHome()">&lt;</div>
</mat-card>
