@import '../../../shared/variables';

.example-card {
  position: relative;
  display: flex;
  width: 85%;
  margin: 40px auto;
  padding: 0;
  background-color: $backgroundColor;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 35px;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

img {
  object-fit: contain;
}

mat-card {

  &-content {
  font-size: 12px;
  color: #828282;
  flex:1;
  }

  &-subtitle {
  color: black;
  }

  &-title {
  font-size: 24px;
  }

}

.date {
  font-size: 10px;
  color: #828282;
}

app-statictics-count {
  flex: .15;
}

.back-button {
  position: absolute;
  top: 0;
  left: -30px;
  height: 30px;
  width: 30px;
  background: #2F80ED;
  border-radius: 5px 0px 0px 5px;

  color: white;
  text-align: center;
  font-size: 36px;
  line-height: 30px;
  user-select: none;

  cursor: pointer;
}
