@import '../../../shared/variables';

.wrap-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $backgroundColor;

  & * {
    margin-left: 10px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

}
span {
  color: #929292;

  &:hover{
    cursor: default;
  }
}

button {
  text-decoration-line: underline;
  color: #2F80ED;
  border: none;
  background: transparent;

  &:hover {
    text-decoration-line: none ;
    cursor: pointer;
  }
}

input {
  outline: none;
    border: none;
}

.arrow {
  &-down, &-up {
    position: relative;
  }
  &-down::after, &-up::after {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 16px;
  }
  &-down::after {
    content: '⇓';
  }
  &-up::after {
    content: '⇑';
  }
}
